<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.farm_system.mapper.DictDataMapper">
    <!-- 根据字典类型ID查询字典数据列表 -->
    <select id="selectByDictType" resultType="com.itbaizhan.farm_system.entity.DictData">
        SELECT * FROM sys_dict_data WHERE dict_type = #{dictType} ORDER BY dict_sort ASC
    </select>
</mapper>