<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.farm_system.mapper.Permissionmapper">
    <delete id="deleteRolePermissionsByPermissionIds">
        delete from sys_role_permission where permission_id in
        <foreach item="id"  collection="Ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>